[data-anime]{
    opacity: 0;
    transition: .3s;
}

[data-anime="left"]{
    transform: translateX(-50px);
}

[data-anime="right"]{
    transform: translateX(10px);
}

[data-anime="top"]{
    transform: translateY(-50px);
}

[data-anime].animate{
    opacity: 1;
    transform: translate(0);
}
