@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Roboto+Condensed:wght@300;400&family=Roboto:wght@100;300;400;500&display=swap');

:root{
    --orange-default: #ff7246;
    --orange-darker: #c33003;
    --bkground-lighter: #fbb7a2;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}

/*
*
*font-family: 'Open Sans', sans-serif;
*font-family: 'Roboto', sans-serif;
*font-family: 'Roboto Condensed', sans-serif;
*
*/

.rectangle{
    width: 100px;
    height: 6px;
    background-color: var(--orange-darker);
}
.w30{
    width: 30%;
}
.w40{
    width: 40%;
}
.w50{
    width: 50%;
}
.w60{
    width: 60%;
}
.w70{
    width: 70%;
}

.title-section{
    width: 250px;
    margin: 0 auto;
}


html,body{
    height: 100%;
}

.container{
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    padding: 0 2%;
}

header{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color: rgba(20, 20, 20, 0.8);
    padding: 20px 0;
    z-index: 3;
}

header > .container{
    display: flex;
    justify-content: space-between;
}
.logomarca a{
    text-decoration: none;
    color: white;
    font-family: 'Roboto Condensed';
    font-size: 34px;
}

nav.menu-desktop li{
    display: inline-block;
    margin-left: 30px;
    padding: 8px 0;
}
nav.menu-desktop a{
    text-decoration: none;
    color: white;
    font-family: 'Roboto Condensed';
    font-weight: 100;
    font-size: 24px;
}
nav.menu-desktop a:hover{
    color: var(--orange-default);
    transition: .3s;
}

/* aqui termina o header */

section.banner-main{
    width: 100%;
    height: 90vh;
    background-image: url('../images/banner.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
section.banner-main .msg{
    width: 100%;
    height: 100%;
    text-align: center;
    padding-top: 40vh;
    background-color: rgba(0, 0, 0, 0.445);
    color: white;
}

.msg h2{
    margin: 6px 0;
    font-size: 46px;
    font-family: 'Roboto Condensed';
    font-weight: 400;
}
.msg p{
    font-size: 40px;
    font-weight: 600;
    color: var(--orange-default);
}

/**** aqui termina o banner ****/

section.sobre{
    display: flex;
    width: 100%;
    min-height: 400px;
    background-color: var(--orange-default);
    color: #fff;
}
section.sobre > .container{
    display: flex;
    justify-content: space-between;
}

section.sobre .sobre-left{
    display: flex;
    justify-content: center;
}

.picture{
    width: 250px;
    height: 250px;
    border-radius: 100%;
    background-image: url('../images/gabriel2.png');
    background-position: center;
    background-size: cover;
    margin-top: 75px;
}

section.sobre{
    padding: 60px 0;
}

.sobre-right h3{
    font-family: 'Roboto';
    font-size: 38px;
    margin-bottom: 10px;
}
.sobre-right p{
    text-align: justify;
    padding: 10px 0;
    font-family: 'Roboto Condensed';
    font-weight: 400;
    font-size: 20px;
}

.sobre-right .icons{
    color: white;
    font-size: 72px;
}

.icons p{
    display: inline-block;
    margin-top: 20px;
}

/**** Aqui termina a section sobre ****/

section.projects{
    padding: 60px 0;
}
section.projects .rectangle{
    width: 92px;
}

section.projects h3{
    color: var(--orange-default);
    font-family: 'Roboto';
    font-size: 38px;
    margin-bottom: 10px;
}

section.projects .gallery{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 60px 0;
}

.gallery .box{
    width: 25%;
    cursor: pointer;
}

.gallery .box img{
    width: 100%;
    height: 100%;
    box-shadow: 3px 3px 6px 1px rgb(47, 47, 47);
    border-radius: 2px;
}